body {
    background-color: rgb(94, 94, 94);
    font-family: sans-serif;
}

#arena {
	background-color: black;
	margin: auto;
}

.player {
    position: absolute;
    border-radius: 50%;
    background-color: white;
    pointer-events: none;
}

.player > p {
    color: rgba(53, 53, 53, 0.74);
    font-size: 12px;
    width: max-content;
    position: relative;
    font-weight: bold;
    left: 30px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
}

.hunter {
    background-color: rgb(226, 145, 107);
}

.dead {
    background-color: #1f1f1f;
}

#changeNameContainer {
    position: fixed;
    bottom: 10px;
    left: 10px;
}

#scoreBoard {
    color: lime;
    font-size: 12px;
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #404040;
    padding: 4px 16px;
    line-height: 9px;
}
