body {
    background-color: rgb(94, 94, 94);
}

#arena {
	background-color: black;
	width: 90vw;
	height: 90vh;
	margin: 5vh auto;
}

.player {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
}
